/* .defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
} */

.tumbler {
  y: 30%-20;
}

.item {
  height: 120;
}

.item text {
  font-size: 120;
  fill: white;
  x: 5;
}
